* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #0d0d0d;
  color: #fff;
}

header {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  cursor: pointer;
  
}

header input {
  width: 60%;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 16px;
}

#homeBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background: red;
  padding: 12px 18px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

#movieContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background-color: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.08);
}

.movie-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-title {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal-content {
  background: #222;
  padding: 20px;
  border-radius: 12px;
  width: 80%;
  max-width: 450px;
  text-align: center;
}

.modal-content img {
  width: 100%;
  border-radius: 10px;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 10px;
}
footer {
  background: #0b0f14;
  color: #ccc;
  padding: 40px 20px;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  gap: 30px;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin: 6px 0;
  font-size: 14px;
}

footer hr {
  border: 0.5px solid #1d2731;
  margin: 20px 0;
}

.copy-text {
  text-align: center;
  font-size: 13px;
  color: #888;
}

.top-div {
  display: flex;
  justify-content: center;

}

.top-div img{
  height: 40px;
}


